.header-video {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: var(--folio-turq);
}
.header-video__content {
    width: 100%;
    margin: -10rem 0;
    opacity:.4;
}
//
.folio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.folio-project__tag {
    font-family: var(--text-sans);
    font-size: .875rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1rem;
    display: flex;
    justify-content: flex-start;
}
.folio-content__text {
    width: 100%;
    max-width: var(--width-reading);
    font-family: var(--text-sans);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}
.folio-content__figma {
    // width: 100%;
    width: var(--width-projects);

    iframe {
        width: 100%;
        height: 30rem;
        background-color: var(--color-grey__light05);
        border-radius: .5rem;
    }
}
.h3-content_section {
    @extend .folio-project__tag;
    position: relative;

    &:before {
        position: absolute;
        top: .5rem;
        left: -2.5rem;
        width: 2rem;
        height: .3rem;
        background-color: var(--folio-primary);
        content:'';
    }
}
// grid
.folio-grid {
    width: var(--width-projects);
    display: grid;
    grid-template-rows: auto;
    gap: 1rem;

    &--2col {
        grid-template-columns: 1fr 1fr;
    }
    &--3col {
        grid-template-columns: 1fr 1fr 1fr;
    }

    span {
        border-radius: var(--radius01);
        overflow: hidden;
    }
}

// content buttons and links
.btn-primary {
    font-family: var(--text-sans);
    font-size: .875rem;
    font-weight: 600;
    border: 1px solid var(--folio-grey__light04);
    border-radius: var(--radius01);
    padding: 1rem;

    .icon-figma {
        height: 1.5rem;
        width: 1.5rem;
        margin-right: .5rem;
    }

    &:hover {
        border-color: var(--folio-turq);
        background-color: var(--folio-tint02);
    }

    &--group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .icon-external {
        height: 1rem;
        width: 2rem;
        padding-left: 1rem;
    }
}
.btn-primary--link {
    @extend .btn-primary;
    color: var(--folio-grey__dark01);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: var(--transition01);
    text-decoration: none;
}
// mobile device
.folio-mobile__device {
    display: flex;
    width: 20rem;
    height: 40rem;
    overflow: hidden;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--folio-grey__light06);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.16);

    span {
        display:block;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        cursor: url("https://folio22.s3.amazonaws.com/folio-cursor-scroll.png"), move;
    }
}

// DCL specific
.dcl-brands {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 1rem;

    span {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        border: 1px solid var(--folio-grey__light05);
    }
    .brand-amazon {
        height: 2rem;
    }
    .brand-instagram {
        height: 3rem;
    }
    .brand-facebook {
        height: 3rem;
    }
    .brand-tiktok {
        height: 3rem;
    }
    .brand-youtube {
        height: 3rem;
    }
    .brand-ebay {
        height: 2rem;
    }
}