
// webstore
.theme-webstore {

    .header-video {
        background-color: var(--color-webstore);
    }
    .project {
        color: var(--color-webstore);
    }
    .h3-content_section:before {
        background-color: var(--color-webstore);
    }
    .folio-pullquote {
        border-left-color: var(--color-webstore);
    }
    .webstore-stats-item {
        background-color: var(--color-webstore);
    }
}